<h1>Editing trademark</h1>

<%= render "form", trademark: @trademark %>

<br>

<div>
  <%= link_to "Show this trademark", @trademark %> |
  <%= link_to "Back to trademarks", trademarks_path %>
</div>
